extends layout

block content
	h1= title
	form#formAddUser(name="adduser",method="post",action="/adduser")
		input#inputUserFirstName(type="text",placeholder="First Name",name="firstname")
		input#inputUserLastName(type="text",placeholder="Last Name",name="lastname")
		button#btnSubmit(type="submit") submit